{% extends 'base.html' %}

{% block title %}
    {% if form.instance.pk %}Editar Cliente{% else %}Adicionar Cliente{% endif %} - STV Modas
{% endblock %}

{% block content %}
    <h2>{% if form.instance.pk %}Editar Cliente{% else %}Adicionar Novo Cliente{% endif %}</h2>
    <p><a href="{% url 'dashboard:lista_clientes' %}" class="button">Voltar para a Lista de Clientes</a></p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">Salvar Cliente</button>
    </form>
{% endblock %}
