.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.contentArea {
    min-height: 450px; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcomeMessage {
    text-align: center;
    color: #777;
}
