{% extends "core/base_gestao.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">{{ titulo }}</h2>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            
            {{ form|crispy }}

            <div class="mt-3">
                <button type="submit" class="btn btn-success">Salvar Produto</button>
                <a href="{% url 'produtos:listar_produtos' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}